<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="LogPath" value="C:\apps\logs" />
    <add key="LogLevel" value="Info" />
    <add key="Url" value="localhost" />
    <add key="Port" value="81" />
    <add key="ClientUrl" value="localhost" />
    <add key="ClientPort" value="81" />
    <add key="SrvUrl" value="localhost" />
    <add key="SrvPort" value="8181" />
    <add key="SQLConn" value="Data Source=UWD-CPT;Initial Catalog=UWDMobileDelivery;User ID=wtssa;Password=1United$WTS" />
    <add key="WinsysSrcFilePath" value="\\Fs01\vol1\Winsys32\DATA" />
    <!-- If left empty WinsysDestFilePath defaults to Environment.GetFolderPath(Environment.SpecialFolder.Desktop)-->
    <add key="WinsysDstFilePath" value="" />
  </appSettings>
</configuration>
